h1 {
    color:red; 
    background-color: violet;
    text-align: center;
    font-family: helvetica;
}

h2 {
    color: orange;
    background-color: gray;
    text-align: center
}

h3 {
    color:tomato;
    text-align: end;
}

#minion{
    display: block ;
    margin-left: auto;
    margin-right: auto;
}